 /* Responsive */
 @media (max-width: 768px) {
    .header_section{
        display: none;
    }
     /* Estilos generales */
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  /* Contenedor del menú */
  .menu {
    background-color: #000000;
    padding: 3%;
    display: flex;
    align-items: center;
    position: relative;
  }

  /* Estilos del botón de menú (ícono) */
  .menu-toggle {
    background: black;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  /* Estilos del ícono del menú */
  .menu-icon {
    font-size: 1.5rem;
    transition: transform 0.3s ease;
  }
  label{
    margin: 0;
  }
  /* Estilos de la lista de enlaces del menú */
  .menu-links {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #000000;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease;
    z-index: 99;
  }

  /* Estilos de los enlaces */
  .menu-links li a {
    display: block;
    padding: 1rem;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }

  .menu-links li a:hover {
    background-color: #555;
  }

  /* Checkbox oculto para controlar el menú */
  #toggle {
    display: none;
  }

  /* Mostrar el menú cuando el checkbox está marcado */
  #toggle:checked ~ .menu-links {
    max-height: 335px; /* Ajustar según el número de elementos en el menú */
  }

  /* Rotación del ícono del menú al abrir */
  #toggle:checked + .menu-toggle .menu-icon {
    transform: rotate(90deg);
  }

  .container{
    display: flex;
    flex-direction: column;
    width: 100% !important;
  }



  .welcomeUser{
    font-size: medium;
    margin: 0;
    font-weight: bolder;
  }
 

  .heading_container{
    align-items: center;
    text-align: center;
  }

  .contenedor_section{
    margin-top: 20%;
  }

  .container{
    margin: 0;
  }
 }