body {
  font-family: "Poppins", sans-serif;
  color: #0c0c0c;
  background-color: #ffffff;
}

.layout_padding {
  padding: 75px 0;
}

.layout_padding2 {
  padding: 45px 0;
}

.layout_padding2-top {
  padding-top: 45px;
}

.layout_padding2-bottom {
  padding-bottom: 45px;
}

.layout_padding-top {
  padding-top: 75px;
}

.layout_padding-bottom {
  padding-bottom: 75px;
}

.heading_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.heading_container h2 {
  position: relative;
}

.heading_container h2::before {
  content: "";
  position: absolute;
  width: 9px;
  height: 30px;
  top: 14%;
  right: -15px;
  background: -webkit-gradient(linear, left top, right top, from(#fb930a), to(#f5e47b));
  background: linear-gradient(to right, #fb930a, #f5e47b);
}
.logout-nav{
  width: 100px;
  margin: 0;
  padding: 0;
  height: 20;
}
.li-active{
  background-color:  #717171;
  margin: 0;
}
.collapse {
  padding: 0;
}
.lista-nav{
  width: 280px !important;
}

.lista-nav li{
  padding: 0 20px;
}

.lista-nav li a{
  width: 280px !important;
  padding: 0 20px;
}

.lista-nav .li-nav:hover{
  background-color: #717171;
  cursor: pointer;
}
.header_section {
  position: fixed; /* Para que la barra de navegación se quede fija */
  top: 0; /* Para que esté en la parte superior */
  left: 0; /* Para que esté en la parte izquierda */
  height: 100%; /* Ocupa toda la altura */
  width: 280px; /* Puedes ajustar el ancho según sea necesario */
  background-color: #000000; /* Cambia el color de fondo como desees */
  z-index: 9999; /* Asegúrate de que esté por encima de otros elementos */
}
.welcomeUser{
  color: white;
}
.custom_nav-container {
  flex-direction: column; /* Para que la navegación esté en columna */
}

.navbar-nav .nav-item {
  width: 100%; /* Asegura que los enlaces ocupen todo el ancho */
}

.navbar-nav .nav-link {
  text-align: left; /* Alinea el texto a la izquierda */
  padding: 30px;
  color: white;
  width:fit-content;
   /* Ajusta el padding según sea necesario */
}

/* slider section */
.slider_section {
  height: calc(100% - 70px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.slider_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider_section .design-box {
  position: absolute;
  bottom: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  width: 75px;
}

.slider_section .design-box img {
  width: 100%;
}

.slider_section .slider_number-container {
  position: absolute;
  top: 45%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 4%;
  text-align: center;
  opacity: .6;
}

.slider_section .slider_number-container hr {
  width: 1px;
  height: 50px;
  border: none;
  background-color: #ffffff;
}

.slider_section .slider_number-container .number-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  text-transform: uppercase;
}

.slider_section .detail_box h2 {
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider_section .detail_box h2 span {
  margin-right: 10px;
}

.slider_section .detail_box h2 hr {
  margin: 0;
  border: none;
  width: 55px;
  height: 1px;
  background-color: #000000;
}

.slider_section .detail_box h1 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 5rem;
  margin-bottom: 30px;
}

.slider_section .detail_box a {
  display: inline-block;
  padding: 8px 40px;
  background-color: #0d0806;
  border: 1px solid #0d0806;
  color: #ffffff;
  border-radius: 0;
  margin: 35px 0;
}

.slider_section .detail_box a:hover {
  background-color: transparent;
  color: #0d0806;
}

.slider_section .img-box img {
  width: 100%;
}

.slider_section .carousel-indicators {
  padding: 0;
  margin: 0;
  right: initial;
  bottom: 22%;
  left: 17%;
}

.slider_section .carousel-indicators li {
  text-indent: 0;
  width: auto;
  height: auto;
  opacity: 1;
  background-color: transparent;
  border: none;
  color: #c0c0c0;
  font-size: 24px;
  display: none;
}

.slider_section .carousel-indicators li.active {
  display: block;
}

.item_section .item_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.item_section .item_container .box {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 30px 10px;
  padding: 15px;
  -webkit-box-shadow: 0px 0px 2px 0.5px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 2px 0.5px rgba(0, 0, 0, 0.15);
}

.item_section .item_container .box .img-box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.item_section .item_container .box .img-box img {
  width: 125px;
}

.item_section .item_container .box h6 {
  color: #fbb534;
  text-transform: uppercase;
}

.item_section .item_container .box h5 {
  text-transform: uppercase;
}

.item_section .item_container .box:hover {
  -webkit-box-shadow: 0px 0px 25px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 25px 1px rgba(0, 0, 0, 0.1);
}

.about_section {
  position: relative;
}

.about_section .design-box {
  position: absolute;
  bottom: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
  width: 75px;
}

.about_section .design-box img {
  width: 100%;
}

.about_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about_section .detail-box p {
  margin-top: 35px;
}

.about_section .detail-box a {
  display: inline-block;
  padding: 8px 40px;
  background-color: #0d0806;
  border: 1px solid #0d0806;
  color: #ffffff;
  border-radius: 0;
  margin-top: 35px;
}

.about_section .detail-box a:hover {
  background-color: transparent;
  color: #0d0806;
}

.about_section .img-box img {
  width: 100%;
}

.price_section {
  background-color: #f8f8f8;
}

.price_section .price_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 40px 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.price_section .price_container .box {
  min-width: 350px;
  max-width: 360px;
  height: 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 35px 10px;
  padding: 30px;
  text-align: center;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 6px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0px 0px 6px 0 rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.price_section .price_container .boxBlack {
  min-width: 350px;
  max-width: 360px;
  height: 650px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 35px 10px;
  padding: 30px;
  text-align: center;
  background-color: #000000;
  -webkit-box-shadow: 0px 0px 6px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0px 0px 6px 0 rgba(0, 0, 0, 0.05);
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border-radius: 20px;
}
.price_section .price_container .boxBlack button{
  background-color: #ffffff;
  color: #000000;border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.price_section .price_container .boxBlack:hover {
  transition: .3s;
  box-shadow: 0 4px 8px rgb(0, 0, 0,0.3);
}

.price_section .price_container .box:hover {
  transition: .3s;
  box-shadow: 0 4px 8px rgb(0, 0, 0,0.3);
}

.price_section .price_container .boxBlack button:hover{
  background-color: #7d7d7d;
  color: white;
  transition: .3s;
}
.price_section .price_container .btn{
  background-color: #000000;
  color: #fff;border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
.price_section .price_container h2,p{
  cursor:default
}

.price_section .price_container .btn:hover{
  background-color: #717171;
  transition: .3s;
}
.price_section .price_container ul{
  list-style-type: none;
  padding: 0;
  text-align: justify;
  cursor:default
}
.price_section .price_container .box .img-box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.price_section .price_container .box .img-box img {
  width: 150px;
}

.price_section .price_container .box h6 {
  font-weight: bold;
  font-size: 18px;
}

.price_section .price_container .box .detail-box h5 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 22px;
}

.price_section .price_container .box .detail-box h5 span {
  color: #fbb534;
}

.price_section .price_container .box .detail-box a {
  display: inline-block;
  padding: 5px 15px;
  border: 1px solid #000000;
  font-weight: bold;
  color: #000000;
  margin-top: 15px;
}

.price_section .price_container .box:hover a {
  border-color: #fbb534;
  color: #fbb534;
}

.price_section .price_btn {
  display: inline-block;
  padding: 8px 40px;
  background-color: #0d0806;
  border: 1px solid #0d0806;
  color: #ffffff;
  border-radius: 0;
}

.price_section .price_btn:hover {
  background-color: transparent;
  color: #0d0806;
}

.ring_section {
  text-align: center;
  position: relative;
}

.ring_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ring_section .container {
  -webkit-box-shadow: 0px 0px 56px 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 0px 56px 1px rgba(0, 0, 0, 0.08);
}

.ring_section .design-box {
  position: absolute;
  bottom: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  width: 75px;
}

.ring_section .design-box img {
  width: 100%;
}

.ring_section .ring_container .detail-box h4 {
  text-transform: uppercase;
  color: #fbb534;
}

.ring_section .ring_container .detail-box a {
  display: inline-block;
  padding: 5px 15px;
  border: 1px solid #000000;
  font-weight: bold;
  color: #000000;
  margin-top: 15px;
}

.ring_section .ring_container .img-box img {
  width: 100%;
}

.client_section .heading_container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.client_section .secondary_heading {
  text-align: center;
}

.client_section .client_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #fbb534;
  padding: 25px;
  width: 85%;
  margin: 75px auto;
}

.client_section .client_container .client-id {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 45%;
}

.client_section .client_container .client-id .img-box {
  margin-right: 25px;
}

.client_section .client_container .client-id .img-box img {
  width: 100%;
}

.client_section .client_container .client-id h5 {
  font-weight: bold;
}

.client_section .client_container .client-id h6 {
  color: #f6d768;
}

.client_section .client_container .detail-box {
  width: 55%;
}

.client_section .client_container .detail-box p {
  margin: 0;
}

.client_section .carousel-control-prev,
.client_section .carousel-control-next {
  opacity: 1;
}

.client_section .carousel-control-prev {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.client_section .carousel-control-next {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.client_section .carousel-control-prev-icon,
.client_section .carousel-control-next-icon {
  width: 30px;
  height: 30px;
  background-size: 25px;
}

.client_section .carousel-control-prev-icon {
  background-image: url(../images/prev-black.png);
}

.client_section .carousel-control-prev-icon:hover {
  background-image: url(../images/prev.png);
}

.client_section .carousel-control-next-icon {
  background-image: url(../images/next-black.png);
}

.client_section .carousel-control-next-icon:hover {
  background-image: url(../images/next.png);
}


.fade-in {
  opacity: 0; /* Inicia completamente transparente */
  transform: translateY(20px); /* Se mueve ligeramente hacia abajo */
  transition: opacity 0.5s ease, transform 0.5s ease; /* Transiciones suaves */
}

.fade-in.visible {
  opacity: 1; /* Se hace visible */
  transform: translateY(0); /* Vuelve a su posición original */
}

.text-entrance {
  transform: translateY(-20px);
  opacity: 0;
  transition: all 0.5s ease-in;
}

.text-entrance.visible {
  transform: translateY(0);
  opacity: 1;
}

