body {
    font-family: 'Arial', sans-serif;
    background-color: #f3f4f6;
    display: flex;
}

h1 {
    color: #343a40;
    margin-bottom: 30px;
}

.card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 350px; /* Ajusta el ancho del cuadro */
    margin: 0 auto; /* Centra el cuadro en la página */
}

.card-header {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.result {
    margin-top: 20px;
    text-align: center;
}

.result p {
    font-weight: bold;
}

.btnPago {
    background-color: black !important;
    border-color: black !important;
}

.btnPago:hover {
    background-color: rgb(97, 97, 97) !important;
}

.smartfitLogo {
    width: 200px;
    margin-bottom: 15px;
}

.cnt_img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.targets {
    width: 55px; 
    margin-top: 10px;
}

/* Ajustar los campos de Nombre y Apellido en una sola línea */
.form-group.row {
    margin-bottom: 15px;
}
